.boxnew{
    height: 400px;
    position : relative; 
}
.new {
    height: 1200px;
}


/* ---------------------- add to shopping cart css ---------------------*/

/* ---------------------- ---------------------- ---------------------*/


.subbtn{
    border : 0px; 
    font-size:22px ;
    position: absolute ;
    bottom : 5px;
    right:5px;
    color : rgb(122, 122, 122);
    background-color: rgb(228, 228, 228);
    padding : 6px;
    border-radius: 3px;
    transition : .8s;
    outline: none ;
    height: 50px;
    width: 50px;
}
.subbtn:hover {
   
    color : rgb(29, 29, 29);
    background-color: rgb(160, 160, 160);
    border-radius: 50px;outline: none ;
}
.subbtn:active {
    color : rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);outline: none ;
}

<<<<<<< HEAD
<<<<<<< HEAD
/* ---------------------- Contenu article ---------------------*/
=======
=======
/* ---------------------- Contenu article ---------------------*/
>>>>>>> 89375e2 (js homme)

.imgbox{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
>>>>>>> 158b381 (javascript article)

<<<<<<< HEAD
.imgbox{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

=======
>>>>>>> 89375e2 (js homme)
.img1{
    opacity: 1;
    height: 326px;
    width: 255px;
    position: absolute;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}
.img2{
    opacity: 0;
    height: 326px;
    width: 255px;
    position: absolute;
    transition: 0.5s;
    border-radius: 4%;
}

.img1:hover{
    opacity: 0;

}

.img2:hover{
    opacity: 1;
}

.product-new-label{
    background-color: #BE3144;
    color: #fff;
    padding: 2px 20px;
    position: absolute;
    right: -5px;
    top: 10px;
}

.bg-white .fa-shopping-cart{
    position: absolute;
    right:10px;
    top: 300px;
    color:#BE3144;
    background:#fff;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    width:50px;
    height:50px;
    border-radius:50%;
    transition: 0.5s;
}

.bg-white .fa-shopping-cart:hover{
    background:#BE3144;
    color:#fff;
    cursor: pointer;
}

.content
{
    position: relative;
    top: 340px;
    text-align: left;
    margin: 10px;
}

.produit
{
    position: relative; 
    height: 420px; 
    width: auto;
    background-color: #fafafa; 
    border-radius: 4%;
}
/*----------------------------------------------*/
.button {
    background-color: #BE3144;
    border: none;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 100%;
    position: relative;
  }