.form-title-style{
    padding-top :25px;
}
.space{
    height: 23px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.box-connexion{
    background-color: white;
    width : 500px;
    height: 330px;
    color : black;
}
.formsection {
    height: 550px;
    padding-top: 0px;
    background-color: rgb(230,230,230);
}
.btn-submit{
    background-color: #BE3144;
    border: #BE3144 solid;
    border-radius: 5px;
    color : white  ; 
    height: 50px;
    font-size: 18px;
}
.btn-submit-inscription {
    background-color: grey;
    border: grey solid;
    border-radius: 5px;
    color : white  ; 
    height: 50px;
    font-size: 18px;
}
.btn-submit:hover{
    background-color: #831f2c;
    border-color: #831f2c;
}
