

body{
	padding: 0;
	margin: 0;
	background-color: #95a5a6;
	font-family: 'Ubuntu', sans-serif;
}

.redcolor {
	color : #BE3144; 
	font-size: 30px;
	font-weight:bold;
	
}

/*-------------------------- CAROUSEL --------------------------*/
.imheight{
	max-height: 100vh;
}
#carouselExampleIndicators{
	position: relative;
}
.overlay{
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.7);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.carousel-control-prev,.carousel-control-next{
	z-index: 5;
}

/*-------------------------- ****** --------------------------*/
/*-------------------------- nouveautés  --------------------------*/
.nouvsection{
	background-color: rgba(255,255,255,0.8);
	height: 600px;
}
.nouv-title-style{
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	color : #343a40 ;
}
.box{
	height:400px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
	margin : 5px;
	width: 300px;
}

/*-------------------------- ****** --------------------------*/
/*-------------------------- FOOTER --------------------------*/
.topsidefooter{
	padding-top: 40px;
	padding-bottom: 30px;
}
div.footer_title{
	font-size: x-large;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 10px;

}
div.subfooter 
{
		padding-top: 10px;
		padding-bottom: 20px;
}
footer{
	background-color: #2C3E50;

	bottom: 0px;
	text-align: center;
	color: #ffffff;
	padding : 0px;
}
.Copyright
{
	background-color:#1D2935 ;
	 padding:10px;
	 margin : 0px;
	 color: white;
	 text-align: center;
	 position : relative ;
	 bottom : 0px;
}	
/*-------------------------- ****** --------------------------*/
