
body{
	padding: 0;
	margin: 0;
	background-color: #95a5a6;
	font-family: 'Ubuntu', sans-serif;

}

footer{
	background-color: #2C3E50;
	margin-top: 1000px;
	bottom: 0px;
	padding: 10px;
	text-align: center;
	color: #ffffff;

}
.Copyright
{
	background-color:#1D2935 ;
	 padding:10px;
	 color: white;
	 text-align: center;
}	
div.footer_title{
	font-size: x-large;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 10px;

}
div.subfooter 
{
		padding-top: 10px;
		padding-bottom: 20px;
}

.d-block{
	max-height: 100vh;
}

#carouselExampleIndicators{
	position: relative;
}

.overlay{
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.7);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

.carousel-control-prev,.carousel-control-next{
	z-index: 5;
}

